/* Global */
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  /* Font Family */
  --ff-titles: 'Staatliches', cursive;
  --ff-body: 'Palanquin', sans-serif;

  /* font size */
  --fs-body: 1.6rem;
  --fs-header: 4rem;
  --fs-texts: 2rem;

  /* Line Height */
  --lh-titles: 3.4rem;
  --lh-body: 1.5rem;

  /* Colors */
  --hue: 233;
  --c-body-background: hsl(var(--hue), 100%, 97%);
  --c-products-background: hsl(312, 91%, 96%);
  --c-header-title-background: hsl(275, 18%, 79%);
  --c-header-background: hsl(218, 17%, 62%);
  --c-body-texts-color: hsl(var(--hue), 17%, 35%);
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  line-height: var(--lh-body);

  color: var(--c-body-texts-color);

  background-color: var(--c-body-background);
}

body::before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 27.9rem;

  background-color: var(--c-header-background);
  z-index: -1;
}

.page {
  max-width: clamp(38.4rem, 30rem + 60vw, 128rem);
  display: grid;

  margin: 0 auto 6rem;
}

/* Header */
header {
  text-align: center;

  height: 27.9rem;
  width: 100%;

  position: relative;

  margin-bottom: 1.4rem;
}

header img {
  margin: 3.2rem 0;

  width: 13.7rem;
  height: 13.7rem;

}

header h1 {
  background-color: var(--c-header-title-background);
  font-family: var(--ff-titles);
  color: white;

  height: 4.9rem;
  width: 100%;

  font-size: var(--fs-header);
  line-height: var(--lh-titles);
  font-weight: 400;

  letter-spacing: 5%;

  padding: 0.7rem 0;

}

header p {
  display: none;
}

/* Text-wrapper */
.text-wrapper p {
  font-size: var(--fs-texts);

  margin-bottom: 6.3rem;

  text-align: center;
}

/* main */
main {
  display: grid;
  gap: 3.2rem;
}

main img {
  width: 100%;
  border-radius: 20px;

  animation: downtop 700ms;

  transition: all 200ms;
}


/* Product */
.product {
  position: relative;
}

.product img {
  transition: all 300ms;
}

.product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product img:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

.product h2 {
  font-size: var(--fs-texts);

  text-transform: uppercase;

  letter-spacing: 5%;

  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  height: 3.5rem;

  padding: 0 2.4rem;

  display: flex;
  align-items: center;

  background-color: var(--c-products-background);
  border-radius: 20px;
  animation: topdown 700ms 350ms backwards;
}

.footer {
  display: none;
}

/* Animations */
@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 700px) {
  :root {
    /* Font family */
    --ff-texts: 'Open Sans', sans-serif;
    --ff-header-text: 'Roboto', sans-serif;

    /* Font size */
    --fs-texts: 1.4rem;
    --fs-header: 4.8rem;

    /* Line height */
    --lh-texts: 2.8rem;
    --lh-header-text: 2.0rem;
    --lh-titles: 3.4rem;
  }

  body::before {
    width: 37.7rem;
    height: 100%;
  }

  .page {
    grid-template-areas: "A B";

    margin: 0;
  }

  header {
    grid-area: A;
  }

  main {
    grid-area: B;
  }

  header {
    width: 37.7rem;

    margin: 3.2rem 0;
  }

  header p {
    font-family: var(--ff-header-text);
    line-height: var(--lh-header-text);

    color: white;
    margin: 3.2rem auto;

    display: block;

    height: 26rem;
    width: 27rem;
  }

  .product h2 {
    display: none;
  }

  .text-wrapper {
    display: none;
  }


  main {
    display: grid;
    grid-template-areas: "D E F"
      "G E I"
      "G H I"
      "J J J ";
    height: 72rem;

    margin: 6.4rem 9.8rem 5rem;
  }

  .product {
    max-width: 72.5rem;
  }

  main div:nth-child(1) {
    grid-area: D;
  }

  main div:nth-child(2) {
    grid-area: E;
  }

  main div:nth-child(3) {
    grid-area: F;
  }

  main div:nth-child(4) {
    grid-area: G;
  }

  main div:nth-child(5) {
    grid-area: H;
  }

  main div:nth-child(6) {
    grid-area: I;
  }

  .footer {
    grid-area: J;
    font-family: var(--ff-texts);
    font-size: var(--fs-texts);
    color: var(--c-body-texts-color);

    display: inline;
    margin: 0 auto;
  }

  .footer p a {
    font-weight: bold;
    color: var(--c-body-texts-color);

    text-decoration: none;
  }

}
